@font-face {
	font-family: 'gqp-icon';
	src:url('fonts/gqp-icon.eot?-h1pdt0');
	src:url('fonts/gqp-icon.eot?#iefix-h1pdt0') format('embedded-opentype'),
		url('fonts/gqp-icon.woff?-h1pdt0') format('woff'),
		url('fonts/gqp-icon.ttf?-h1pdt0') format('truetype'),
		url('fonts/gqp-icon.svg?-h1pdt0#gqp-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="gqp-"], [class*=" gqp-"] {
	font-family: 'gqp-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gqp-check:before {
	content: "\f00c";
}
.gqp-times:before {
	content: "\f00d";
}
.gqp-gear:before {
	content: "\f013";
}
.gqp-trash-o:before {
	content: "\f014";
}
.gqp-lock:before {
	content: "\f023";
}
.gqp-sign-in:before {
	content: "\f090";
}
.gqp-globe:before {
	content: "\f0ac";
}
.gqp-group:before {
	content: "\f0c0";
}
.gqp-rotate-left:before {
	content: "\f0e2";
}
.gqp-github-alt:before {
	content: "\f113";
}
.gqp-frown-o:before {
	content: "\f119";
}
.gqp-gamepad:before {
	content: "\f11b";
}
.gqp-play-circle:before {
	content: "\f144";
}
/** Icon END **/
.gqplist {
    display:inline-block;
    position:relative;
    width:26em;
    margin:.5em;
}
.gqplist img {
    vertical-align:middle;
}
.gqplist span {
    display:inline-block;
    vertical-align:middle;
    margin-left:1em;
}
.GQP_AjaxRel{
    text-align: right;
}
#GQP_AjaxRel:hover, #GQP_AjaxRel:focus{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }